<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>escaleSolutionAssignmentByHimanshuGupta</title>
</head>

<body>
    <h2>
        <%= title %>
    </h2>
    <ol>
        <% for( let i=0; i < business_list.length; i++ ) { %>
            <li><a href="<%= business_list[i].url %> " target="_blank">
                    <%= business_list[i].name %>
                </a></li>
            <% } %>
    </ol>
    <% if (business_list.length===0) { %>
        <ul>
            <li>There are no Businesses</li>
        </ul>
        <% } %>
            <hr>
            <div>
                <a href="/">Home</a>
            </div>

</body>

</html>