<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>escaleSolutionAssignmentByHimanshuGupta</title>
</head>

<body>
    <h2>
        <%= title %>
    </h2>

    <h4>
        <%= product.name %>
    </h4>
    <p>Do you really want to delete this product?</p>
    <form action="" method="post">
        <div>
            <input type="hidden" name="productId" required="true" value="<%= product._id %>">
            <button type="submit">Delete</button>
        </div>
    </form>
    <hr>
    <div>
        <a href="/">Home</a>
    </div>

</body>

</html>